.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: var(--footer-background);
  color: var(--font-footer-color);
  padding: 73px calc(50px + (128 - 50) * ((100vw - 320px) / (2560 - 320))) 90px;
  flex-shrink: 0;
  position: relative;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1185px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.footer__email {
  text-decoration: none;
  color: var(--font-footer-color);
  font-weight: 400;
  font-size: 1.67rem;
  line-height: 1.67;
}

.footer__politics {
  text-decoration: none;
  color: var(--font-footer-link);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  transition: color .3s ease;
}

.footer__data {
  margin: 0;
  padding-top: 11px;
  color: var(--font-footer-link);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 1.67rem;
  line-height: 1.67;
  margin-bottom: 25px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.footer__link {
  text-decoration: none;
  color: var(--font-footer-link);
  transition: color .3s ease;
}

.footer__link:hover, .footer__politics:hover {
  color: var(--font-footer-color);
}

.footer__social {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.footer__icon {
  height: 31px;
  width: 31px;
  transition: opacity .3s ease;
}

.footer__icon:hover {
  opacity: .5;
}

.vk {
  background: url(../../images/vk.svg) center no-repeat;
}

.fb {
  background: url(../../images/fb.svg) center no-repeat;
}

.whatsapp {
  background: url(../../images/whatsapp.svg) center no-repeat;
}

.footer__author {
  position: absolute;
  bottom: 3%;
  font-weight: 300;
  font-size: .8rem;
  line-height: 1;
  color: var(--font-footer-link);
  margin-bottom: 30px;
}

.footer__author span {
  color: var(--font-footer-color);
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__nav {
    order: -1;
  }

  .footer__links {
    margin-bottom: 50px;
  }

  .footer__social {
    align-self: center;
  }
}