.header {
  background-color: var(--header-background);
  padding: 26px calc(50px + (128 - 50) * ((100vw - 320px) / (2560 - 320)));
  display: flex;
  justify-content: center;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1185px;
}

.header__logo {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__logo-img {
  width: 23px;
  height: 21px;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(10px + (28 - 10) * ((100vw - 320px) / (2560 - 320)));
}

.header__item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}

.header__link {
  text-decoration: none;
  color: var(--font-link);
  transition: color .3s ease;
}

.header__link:hover {
  color: var(--font-color);
}

.header__tel {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  color: var(--font-color);
  transition: color .3s ease;
}

.header__tel:hover {
  color: var(--font-link);
}

.mobail-nav {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__menu, .header__tel {
    display: none;
  }

  .mobail-nav {
    display: block;
    position: relative;
  }

  .checkbox {
    height: 21px;
    width: 21px;
    opacity: 0;
    z-index: 5;
  }

  .hamburder-lines {
    height: 22px;
    width: 28px;
    cursor: pointer;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--font-color);
  }

  .line1 {
    transform-origin: 0% 0%;
    transition: transform .4s ease-in-out;
  }

  .line2 {
    transition: transform .2s ease-in-out;
  }

  .line3 {
    transform-origin: 0% 100%;
    transition: transform .4s ease-in-out;
  }

  #toggle:checked + .hamburder-lines .line1 {
    transform: rotate(45deg);
  }

  #toggle:checked + .hamburder-lines .line2 {
    transform: scaleY(0);
  }

  #toggle:checked + .hamburder-lines .line3 {
    transform: rotate(-45deg);
  }
}