.cover {
  width: 100%;
  min-height: 764px;
  background-image: linear-gradient(rgba(1, 14, 19, 0.6), rgba(1, 14, 19, 0.6)), url(../../../images/cover.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cover__wrapper {
  width: 981px;
  margin-bottom: 117px;
  display: grid;
  grid-template-areas: 
    "title title batton"
    "arrow subtitle batton";
}

.cover__title {
  margin: 20px 0 27px;
  grid-area: title;
  font-weight: 700;
  font-size: 3rem;
  line-height: 64px;
  color: var(--font-footer-color);
  width: 650px;
}

.cover__subtitle {
  margin: 0;
  grid-area: subtitle;
  width: 373px;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 28px;
  color: var(--font-footer-color);
  opacity: .7;
}

.cover__arrow {
  grid-area: arrow;
  background: url(../../../images/arrow.svg) no-repeat;
  height: 25px;
  margin: 10px 190px 0 15px;
  animation: shake 3s linear alternate infinite;
  transition: .5s;
}

.cover__arrow:hover {
  animation: none;
}

.cover__link {
  grid-area: batton;
  height: 231px;
  width: 231px;
  box-sizing: border-box;
  border: 2px solid var(--ellipse-colore);
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: .7rem;
  line-height: 22px;
  color: var(--advantage-background);
  padding: 94.75px 44.5px;
  margin-left: 74px;
}

.cover__link:hover {
  animation: wiggle cubic-bezier(.36, .07, .19, .97) 1000ms forwards;
}

@media screen and (max-width: 1000px) {
  .cover__wrapper {
    width: 650px;
    margin-bottom: 95px;
    grid-template-areas: 
      "title title"
      "subtitle batton";
  }

  .cover__arrow {
    display: none;
  }

  .cover__link {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .cover__wrapper {
    width: calc(256px + (600 - 256) * ((100vw - 320px) / (700 - 320)));
    margin-bottom: 50px;
    grid-template-areas: 
      "title"
      "subtitle"
      "batton";
  }

  .cover__title {
    font-size: 2rem;
    line-height: 45px;
  }

  .cover__subtitle {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .cover__title, .cover__subtitle {
    width: calc(256px + (600 - 256) * ((100vw - 320px) / (700 - 320)));
  }

  .cover__link {
    margin-left: calc(12.5px + (184.5 - 12.5) * ((100vw - 320px) / (700 - 320)));
  }
}